@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #0A2E75 0%, #144D9E 30%, #247EC3 60%, #3CA6DD 100%);
  background-attachment: fixed;
}

/* Test to ensure Tailwind is working */
.test-tailwind {
  @apply bg-blue-500 text-white p-4 rounded;
}